[submodule "react-1"]
	path = react-1
	url = https://github.com/HarshithPaladi/react-1.git
[submodule "simple-calculator"]
	path = simple-calculator
	url = https://github.com/HarshithPaladi/simple-calculator.git
[submodule "stopwatch"]
	path = stopwatch
	url = https://github.com/HarshithPaladi/stopwatch.git
[submodule "cric-counter"]
	path = cric-counter
	url = https://github.com/HarshithPaladi/cric-counter.git
[submodule "form-site"]
	path = form-site
	url = https://github.com/HarshithPaladi/react-form-site
